
.tab{
    width: 500px;
}
.tab-nav{
    display: flex;
}
.tab-nav-item{
    margin-right: 2px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px 5px 0px 0px;
}
.tab-nav-item.is-active {
    background-color: #000000;
    color: #cccccc;
}
.tab-contents{
    border: 1px solid #cccccc;
    padding: 20px;
}
.tab-contents-item{
    display: none;
}

        
